/****** Bootstrap Colors ******/
.primary {
    min-height: 800px;
}
/*** Accordion Toggles ***/
.panel-heading {
    position: relative;
}
/*** Filter Menu ***/
/* Panels */
.filter-menu .panel {
    border-radius: 0;
    border: 1px solid #eeeeee;
}
.filter-menu .panel-heading {
    background: #fff;
    padding: 0;
}
.filter-menu .panel-body {
    padding: 16px;
}
/* Inner Panels */
.filter-menu .panel-group {
    margin: -16px;
}

.filter-menu .panel-group .panel + .panel {
    margin-top: 0;
}
/*** Filter Menu - Mobile ***/
/* Panels - Mobile */
.filter-menu.mobile .btn-link {
    color: #f9f9f9;
}
.filter-menu.mobile hr {
    margin-top: 0;
    border-top-color: #4B6473;
}
.filter-menu.mobile .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-color: #4B6473;
}
.filter-menu.mobile .panel {
    border-color: #4B6473;
    background: #30404a;
    color: #f9f9f9;
}
.filter-menu.mobile .panel-heading {
    background: #30404a;
}

.filter-menu.mobile .panel-group .panel {
    border-color: #4B6473;
}


/*----------------------------------------------------------------*/

.stock-filter .row{
    display: block;
}
.stock-filter .row label{
    font-size: 14px;
    line-height: 1.71429
}
.stock-filter .row input{
    margin-right: 3px;
}

.accordion-toggle{
    font-size: 24px;
    line-height: 1.54167;
    font-weight: 300;
    color: #151515;
}
.accordion-toggle:hover{
    color: #151515;
    text-decoration: none;
    cursor: unset;
}
.filter-body{
    padding-left: 2px!important;
}
.price-slider p{
    font-size: 14px;
    line-height: 1.88889;
    color: #343a40;
    font-weight: 300;
}

.price-slider{
    padding-left: 2px!important;
}

.price-slider input{
    line-height: 1.88889;
    color: #343a40!important;
    font-weight: 300!important;
}

.stock-block .card{
    margin-bottom: 9.75rem;
    border: none;
    width: 16rem;
}
.stock-block .card a:nth-child(1){
    text-transform: inherit!important;
    padding: 0!important;
    text-decoration: none;
}

.stock-block .card-columns{
    max-width: 80%;
    padding-left: 100px;
    border-left: 1px solid #ececee;
}
.stock-block .card-columns h5{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55556;
    color: black;
}
.stock-block .card-columns .card p:nth-child(2){
    margin-top: 10px;
    font-size: 19px;
    line-height: 1.88889;
    color: #343a40;
    font-weight: 300;
}
.stock-block .card-columns .card p:nth-child(3){
    font-size: 24px;
    color: #004d8c;
    margin-top: 7px;
    font-weight: 300;
    line-height: 1.88889;
}

.stock-block .card-columns .card p:nth-child(4){
    font-size: 14px;
    line-height: 24px;
    color: #343a40;
    font-weight: 300;
}
.stock-block .card-columns .card a{
    padding: 16px 40px;
    font-size: 12px;
    line-height: 24px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: .06em;
    transition: .33s all ease;
    white-space: normal;
    text-transform: uppercase;
}
.primary .show{
    border-bottom: 1px solid #ececee;
    margin-bottom: 20px;
}


